#main-nav-overlay-wrapper {
    position: fixed;
    overflow: hidden;
    top: var(--wpAdminBarHeight, 0);
    opacity: 0;
    left: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    -webkit-transition: opacity .3s ease .6s, z-index 0s ease .9s, height 0s ease 1.05s;
    -moz-transition: opacity .3s ease .6s, z-index 0s ease .9s, height 0s ease 1.05s;
    -o-background-size: opacity .3s ease .6s, z-index 0s ease .9s, height 0s ease 1.05s;
    transition: opacity .3s ease .6s, z-index 0s ease .9s, height 0s ease 1.05s
}


/* ........ */
.nav-active #main-nav-overlay-wrapper {
    top: var(--wpAdminBarHeight, 0);
    height: calc(calc(var(--vh) * 100) - var(--wpAdminBarHeight));
    opacity: 1;
    z-index: 991;
    -webkit-transition: opacity .3s ease 0s, z-index 0s ease 0s, height 0s ease 0s;
    -moz-transition: opacity .3s ease 0s, z-index 0s ease 0s, height 0s ease 0s;
    -o-background-size: opacity .3s ease 0s, z-index 0s ease 0s, height 0s ease 0s;
    transition: opacity .3s ease 0s, z-index 0s ease 0s, height 0s ease 0s
}
.nav-active #main-nav-overlay-wrapper .overlay-inner {
    transform: translate(0, 0);
    -webkit-transition: transform .6s ease .3s;
    -moz-transition: transform .6s ease .3s;
    -o-background-size: transform .6s ease .3s;
    transition: transform .6s ease .3s
}
/* ............... */

.mobile-nav-outer {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden
}

.mobile-nav-outer .top-item-wrapper {
    transform: translate(0, 0);
    -webkit-transition: transform .3s ease 0s;
    -moz-transition: transform .3s ease 0s;
    -o-background-size: transform .3s ease 0s;
    transition: transform .3s ease 0s
}

.mobile-nav-outer .top-item-wrapper.toggle-hide {
    transform: translate(-100%, 0)
}

.mobile-nav-outer .top-item-wrapper .top-item {
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    flex-wrap: wrap
}

.mobile-nav-outer .top-item-wrapper .top-item:last-child {
    border-bottom: none
}

.mobile-nav-outer .top-item-wrapper .top-item .top-trigger,
.mobile-nav-outer .top-item-wrapper .top-item a {
    position: relative;
    color: #000;
    display: block;
    min-width: 100%;
    padding: 23px 10px 23px 55px;
    font-family: PPNeueMontreal-Medium, san-serif;
    font-weight: 530;
    font-size: 30px;
    line-height: 1em;
    -webkit-transition: color .3s ease 0s;
    -moz-transition: color .3s ease 0s;
    -o-background-size: color .3s ease 0s;
    transition: color .3s ease 0s
}

.mobile-nav-outer .top-item-wrapper .top-item .top-trigger:hover,
.mobile-nav-outer .top-item-wrapper .top-item a:hover {
    color: #195d36
}

.mobile-nav-outer .top-item-wrapper .top-item .top-trigger svg {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translate(0, -50%) rotate(90deg)
}

.mobile-nav-outer .top-item-wrapper .top-item .top-trigger svg,
.mobile-nav-outer .top-item-wrapper .top-item .top-trigger svg * {
    stroke: #000;
    -webkit-transition: stroke .3s ease 0s;
    -moz-transition: stroke .3s ease 0s;
    -o-background-size: stroke .3s ease 0s;
    transition: stroke .3s ease 0s
}

.mobile-nav-outer .top-item-wrapper .top-item .top-trigger:hover svg * {
    stroke: #195d36
}

.mobile-nav-outer .child-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 999;
    transform: translate(calc(100% + 5px), 0);
    background: #fff;
    -webkit-transition: transform .3s ease 0s;
    -moz-transition: transform .3s ease 0s;
    -o-background-size: transform .3s ease 0s;
    transition: transform .3s ease 0s
}

.mobile-nav-outer .child-panel .mobile-nav-back {
    font-size: 18px;
    color: #c7c7c7;
    font-family: PPNeueMontreal-Medium, san-serif;
    font-weight: 530;
    padding: 29px 10px 29px 55px;
    -webkit-transition: color .3s ease 0s;
    -moz-transition: color .3s ease 0s;
    -o-background-size: color .3s ease 0s;
    transition: color .3s ease 0s
}

.mobile-nav-outer .child-panel .mobile-nav-back:hover {
    color: #000;
    cursor: pointer
}

.mobile-nav-outer .child-panel.is-active {
    transform: translate(0, 0)
}

.mobile-nav-outer .child-panel .panel-title {
    display: block;
    position: relative;
    font-size: 30px;
    line-height: 1em;
    padding: 22px 10px 22px 100px;
    font-family: PPNeueMontreal-Medium, san-serif;
    font-weight: 530;
    color: #195d36;
    text-decoration: none;
    background-color: #f5f5f5
}

.mobile-nav-outer .child-panel .panel-title span {
    color: #c7c7c7
}

.mobile-nav-outer .child-panel .panel-title svg {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(0, -50%) rotate(90deg);
    -webkit-transition: stroke .3s ease 0s, transform .3s ease 0s;
    -moz-transition: stroke .3s ease 0s, transform .3s ease 0s;
    -o-background-size: stroke .3s ease 0s, transform .3s ease 0s;
    transition: stroke .3s ease 0s, transform .3s ease 0s
}

.mobile-nav-outer .child-panel .panel-title svg * {
    stroke: #195d36;
    -webkit-transition: stroke .3s ease 0s;
    -moz-transition: stroke .3s ease 0s;
    -o-background-size: stroke .3s ease 0s;
    transition: stroke .3s ease 0s
}

.mobile-nav-outer .child-panel a.panel-title:hover svg {
    transform: translate(0, -50%) rotate(45deg)
}

.mobile-nav-outer .child-panel .nav-level-2-wrapper>ul {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0
}

.mobile-nav-outer .child-panel .nav-level-2-wrapper>ul>li {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #c7c7c7
}










/* 
@media (max-width:600px) {
    .toggled-colors .logo .logo-full {
        max-height: 0;
        opacity: 0;
        overflow: hidden
    }

    .toggled-colors .logo .logo-icon {
        max-height: 100vh;
        opacity: 1
    }

    .toggled-colors header::before {
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity .3s ease 0s, height 0s ease 0s;
        -moz-transition: opacity .3s ease 0s, height 0s ease 0s;
        -o-background-size: opacity .3s ease 0s, height 0s ease 0s;
        transition: opacity .3s ease 0s, height 0s ease 0s
    }

    .nav-active .logo {
        opacity: 0
    }
}

.fixed-nav-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 117px 0 0;
    z-index: 992;
    -webkit-transition: top .3s ease 0s;
    -moz-transition: top .3s ease 0s;
    -o-background-size: top .3s ease 0s;
    transition: top .3s ease 0s
}

.fixed-nav-wrapper .nav-trigger {
    display: inline-block;
    position: relative;
    padding: 37.5px 180px 37.5px 55px;
    color: #fff;
    font-family: PPNeueMontreal-Medium, san-serif;
    font-weight: 530;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: color .3s ease .3s, background-color .3s ease .3s, padding .3s ease 0s;
    -moz-transition: color .3s ease .3s, background-color .3s ease .3s, padding .3s ease 0s;
    -o-background-size: color .3s ease .3s, background-color .3s ease .3s, padding .3s ease 0s;
    transition: color .3s ease .3s, background-color .3s ease .3s, padding .3s ease 0s
}

.fixed-nav-wrapper .nav-trigger span {
    display: block;
    text-align: right
}

.fixed-nav-wrapper .nav-trigger i {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    right: 54px
}

.fixed-nav-wrapper .nav-trigger i::after,
.fixed-nav-wrapper .nav-trigger i::before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 0;
    -webkit-transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    -moz-transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    -o-background-size: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s
}

.fixed-nav-wrapper .nav-trigger i::before {
    transform: translate(0, calc(-50% - 6px))
}

.fixed-nav-wrapper .nav-trigger i::after {
    transform: translate(0, calc(-50% + 6px))
}

.fixed-nav-wrapper .nav-trigger:hover {
    cursor: pointer
}

.fixed-nav-wrapper .nav-trigger:hover i::after {
    width: 50px
}

.toggled-colors .fixed-nav-wrapper .nav-trigger {
    background-color: rgba(255, 255, 255, .8);
    color: #195d36;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

.toggled-colors .fixed-nav-wrapper .nav-trigger i::after,
.toggled-colors .fixed-nav-wrapper .nav-trigger i::before {
    background: #195d36
}

.nav-active .fixed-nav-wrapper .nav-trigger {
    color: #c7c7c7 !important;
    background-color: rgba(255, 255, 255, 0)
}

.nav-active .fixed-nav-wrapper .nav-trigger i::after,
.nav-active .fixed-nav-wrapper .nav-trigger i::before {
    background: #000 !important;
    -webkit-transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    -moz-transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    -o-background-size: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s;
    transition: transform .3s ease 0s, width .3s ease 0s, background .3s ease .3s
}

.nav-active .fixed-nav-wrapper .nav-trigger i::before {
    transform: translate(0, calc(-50%)) rotate(-45deg)
}

.nav-active .fixed-nav-wrapper .nav-trigger i::after {
    transform: translate(0, calc(-50%)) rotate(45deg)
}

.nav-active .fixed-nav-wrapper .nav-trigger:hover {
    cursor: pointer;
    color: #000 !important
}

.nav-active .fixed-nav-wrapper .nav-trigger:hover i::after {
    width: 100px
}

body:not(.header-over-white) .fixed-nav-wrapper .nav-trigger {
    color: #fff;
    background-color: rgba(255, 255, 255, 0)
}

body:not(.header-over-white) .fixed-nav-wrapper .nav-trigger i::after,
body:not(.header-over-white) .fixed-nav-wrapper .nav-trigger i::before {
    background: #fff
}

body:not(.header-over-white).toggled-colors .fixed-nav-wrapper .nav-trigger {
    background-color: rgba(255, 255, 255, .8);
    color: #195d36
}

body:not(.header-over-white).toggled-colors .fixed-nav-wrapper .nav-trigger i::after,
body:not(.header-over-white).toggled-colors .fixed-nav-wrapper .nav-trigger i::before {
    background: #195d36
}

body.header-over-white .fixed-nav-wrapper .nav-trigger {
    color: #195d36
}

body.header-over-white .fixed-nav-wrapper .nav-trigger i::after,
body.header-over-white .fixed-nav-wrapper .nav-trigger i::before {
    background: #195d36
} */
